<head>
    <style>
      .table-card {
        border-radius: 10px;
        background-color: #96c1cc;
        padding: 1rem;
        margin: 0 0 1rem 0;
      }

      .query-card {
        border-radius: 10px;
        background-color: #89b1bc;
        padding: 1rem;
        margin: 0 0 1rem 0;
      }

      .analysis-card {
        border-radius: 5px;
        padding: 0.5rem;
        background-color: #dcdcdc;
      }
    </style>
</head>
<body>

<h1>Comparison</h1>

<div>

</div>
{% for a in analysis %}
    <div class="table-card">
        <b>{{ a.class }}</b>

        {% for q in a.queries %}
            <div class="query-card">
                <div><b>{{ q.method }}</b></div>
                <div>{{ q.sql }}</div>
                <div class="analysis-card">
                    {% for analysisLine in q.analysis %}
                        <div>{{ analysisLine }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
<br>
</body>
